name: Publish Package on PyPI

on:
  push:
    tags:
      - v*

jobs:
  publish-on-pypi:
    runs-on: ubuntu-latest
    environment:
      name: Publish

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v3.1.1
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -r requirements/core.txt -r requirements/dist.txt

    - name: Publish to PyPI
      env:
        FLIT_USERNAME: ${{ secrets.FLIT_USERNAME }}
        FLIT_PASSWORD: ${{ secrets.FLIT_PASSWORD }}
      run: python -m flit publish

  publish-stable-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.9
        uses: actions/setup-python@v3.1.1
        with:
          python-version: 3.9

      - name: Publish Stable Documentation
        uses: ./.github/actions/publish_docs/
        with:
          alias_label: stable
